<nav> <a routerLink='/dashboard'> > GO TO THE WELCOME PAGE</a> </nav>
<h4 align="center"> THE FOLLOWING CODE SHOW THE TWO-WAY-DATA-BINDING !</h4>

<p>STARTING ACTOR that can be changed: {{actor.name | uppercase}} </p>

<div>
    <label>name:
      <input [(ngModel)]="actor.name" placeholder="name"/>
    </label>
  </div>

  <hr>

  <h4 align="center">LIST OF ACTORS</h4>
  <ul>
      <li *ngFor = "let actor of actorsList" (click)="onSelectActor(actor)">{{actor.id}}, {{actor.completeName}}</li>
  </ul>


  <hr>

  <!--
  <div *ngIf="selectedActor">
      <h4>Details on the selected actor</h4>
      {{selectedActor.name}}: {{selectedActor.detail}}
  </div>
    -->

  <!-- "selectedActor" was setted with onSelector(actor), [selectedActor] is the @Input property in app-actorsdetails -->
  <app-actorsdetails  [selectedActor]="selectedActor">
  </app-actorsdetails>

  <app-messages></app-messages>

  
