    

<h1 align="center">WELCOME TO "AMERICAN ACTORS APP" IN ANGULAR</h1>

<br>
<!--
<ul>
    <li>
        <button routerLink='/actors'>
            Show some american actors with angular skills
        </button>
    </li>

    <li>
        <button routerLink='/actorsList'>
            American actors
        </button>
    </li>
</ul>
-->

<div class="container-fluid">
    <div class="row">

        <div class="col-sm-6">
            <div class="col text-center">
                <button routerLink='/actors' type="button" class="btn btn-info">
                    Show some american actors with angular skills
                </button>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="col text-center">
                <button routerLink='/actorsList' type="button" class="btn btn-info">
                    American actors
                </button>
            </div>
        </div>
    </div>
</div>





