<nav>

    <button style="margin:5px;" (click)='previousView()'> > GO BACK </button>

</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 text-center" id="formForAdd">

            <h2 class="text-center">Add Actor</h2>
        
            <form>
        
                <div class="form-group">
        
                    <label for="completeName">Complete name:</label>
                    <input [(ngModel)]="actorToBeAddedCN" placeholder="Complete name" name="complete name" class="form-control" id="completeName">
                
                </div>


                <div class="form-group">
        
                    <label for="completeDetail">Detail:</label>
                    <input [(ngModel)]="actorToBeAddedD" placeholder="Detail" name="detail" class="form-control" id="detail">

                </div>

                <button class="btn btn-success" (click)="AddActor()">Add actor</button>
        
            </form>
        
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h4>Two-way data-binding in action:</h4>
            <p>New name: {{this.actorToBeAddedCN}}</p>
            <p>New detail: {{this.actorToBeAddedD}}</p>
        </div>
    </div>
</div>

